# Created by .ignore support plugin (hsz.mobi)
.idea
Буде вилучено .idea/01-nodejs-files-order.iml
Буде вилучено .idea/copyright/
Буде вилучено .idea/misc.xml
Буде вилучено .idea/modules.xml
Буде вилучено .idea/watcherTasks.xml
Буде вилучено .idea/workspace.xml
Буде вилучено .eslintrc
Буде вилучено sourceDir/
